= link_to 'Back', :back

%p
  %strong First Name:
  = @attendee.first_name
%p
  %strong Last Name:
  = @attendee.last_name
%p
  %strong Title:
  = @attendee.title
%p
  %strong Gender:
  = @attendee.gender
%p
  %strong Location:
  = @attendee.state
%p
  %strong Workshop:
  = @attendee.workshop
%p
  %strong Speak:
  = @attendee.speaker
%p
  %strong Business:
  = @attendee.business
%p
  %strong Business name:
  = @attendee.business_name
%p
  %strong Business website:
  = @attendee.business_website
%p
  %strong Website:
  = @attendee.personal_website
%p
  %strong Instagram handle:
  = @attendee.instagram_handle
%p
  %strong Twitter handle:
  = @attendee.twitter_handle
%p
  %strong Skills:
  - @attendee.categories.each do |category|
    = link_to category.name, category_path(category)
