%p#notice= notice

%p
  %b Date:
  = @event.date
%p
  %b Venue:
  = @event.venue_name
%p
  %b State:
  = @event.state
%p
  %b City:
  = @event.city

.attendees-index
  %b Attendees:
  %ul
  - @event.attendees.each do |attendee|
    .attendee-row
      %li= link_to attendee.full_name, event_attendee_path(@event, attendee)

%p
  %b Skills at this event:
  %ul
  - @event.attendee_skills.each do |skill|
    %li= skill

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
