%p#notice= notice
%h3
  Here are all the attendees who
  %u= @category.name
.attendees-index
  - @category.users.each do |user|
    .attendee-row
      %h4
        %b= user.full_name
      %p
        %b Skills
        - user.categories.each do |category|
          = link_to category.name, category_path(category)
      - if user.instagram_handle.present?
        %p
          %b Instagram
          = link_to user.instagram_handle, "https://www.instagram.com/#{user.instagram_handle}"
      - if user.twitter_handle.present?
        %p
          %b Twitter
          = link_to user.twitter_handle, "https://www.twitter.com/#{user.twitter_handle}"
      %p
        %b Website
        - if user.personal_website.present?
          = user.personal_website

= link_to 'Back', events_path
